@{
  Layout = "_Layout";
}

<div class='container'>
    <h1>All Students Currently Enrolled:</h1>
    @foreach (var student in Model)
    {
        <li><a href="students/@student.Id">@student.Name</a></li>
    }
    <form action="/students/delete" method="post">
        <button class="btn btn-danger" type="submit" name="delete">Delete All Students</button>
    </form>
    <br>
    <a class="btn btn-success" href="/students/new">Add Students</a>
</div>
