@{
  Layout = "_Layout";
}

  <div class='container'>
    <h1>UEP (University of Epicodus at Portland) Registrar</h1>
    <a href="/students/new">Add Students</a>
    <a href="/students">View Students</a>
    <a href="/courses/new">Add Courses</a>
    <a href="/courses">View Courses</a>
  </div>
