@{
  Layout = "_Layout";
}

  <div class='container'>

    <h1>UEP (University of Epicodus at Portland) Registrar</h1>
    <div class="row">
        <div class="col">
            <a class="btn btn-success" href="/students/new">Add Students</a>
            <a class="btn btn-info" href="/students">View Students</a>
        </div>
    </div>
<br>
    <div class="row">
        <div class="col">
            <a class="btn btn-success" href="/courses/new">Add Courses</a>
            <a class="btn btn-info" href="/courses">View Courses</a>
        </div>
    </div>

  </div>
